#header.scrolled #logo h3 img {
  height: 55px !important;
}

.form-field .required {
  font-size: 1rem;
  line-height: 1em;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pink {

  color: pink;
}

.invisible {

  display: none;
}
