// Font Family
$font-family-default:  			"Ubuntu","Raleway", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$font-family-header:  			"Ubuntu","Montserrat", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$font-family-mono: 				"Ubuntu Monospace","Inconsolata", monospace;
$font-family-serif:				"Georgia", "Times", "Times New Roman", serif;

$icons: 						"FontAwesome";
